<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ustcxiaoqie.learn.processoflearning"
    >

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />    <!-- 如果需要精确定位的话请加上此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission-sdk-23 android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application

        android:allowBackup="true"
        android:icon="@drawable/sun"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activitys.MainActivity"
           android:theme="@android:style/Theme.Light.NoTitleBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.ShareActivity"
            android:theme="@android:style/Theme.Panel"/>
        <activity android:name=".activitys.AboutActivity"
            />
        <activity
            android:name=".activitys.MoreWeatherActivity"
            android:theme="@android:style/Animation.Dialog"/>
        <activity
            android:name=".activitys.DialogActivity"
            android:theme="@style/MyDialogStyle"/>
        <activity android:name=".activitys.QQLoginActivity">
            <!--  <intent-filter>
                  <action android:name="android.intent.action.MAIN"/>
                  <category android:name="android.intent.category.LAUNCHER"/>
              </intent-filter>-->
        </activity>
        <activity
            android:name=".activitys.SearchActivity"
            android:theme="@style/Transpanrent">

        </activity>
        <activity android:name=".activitys.WeatherOfCityActivity"/>
        <activity android:name=".activitys.TestViewActivity"/>
        <activity android:name=".activitys.CallBackActivity"></activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tencent101372267"/>
            </intent-filter>
        </activity>

        <!-- 插入广告-->
        <service android:name="com.qq.e.comm.DownloadService" android:exported="false" />
        <activity android:name="com.qq.e.ads.ADActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
    </application>


</manifest>